
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Account Index</h1>

@{
    Html.RenderPartial("CommonPartialView");
}

<hr/>

@{ 
    Html.RenderPartial("View");
}

