
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@{
    Html.RenderPartial("CommonPartialView");
}

<a href="/MaterialManagment/AddMaterialMasterDetails">Add Material Master Details</a>