
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<a href="/report/ResourceDetailsrEport">Resource Detials Report</a><br />

<a href="/report/MaterialDetailReport">Material Detail Report</a>



