
@{
    ViewData["Title"] = "ResourceManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ResourceManagement</h1>
<a href="/Home/AddNewResource">Add New Resources </a>
<br/>
<a href="/ResouceMaster/ResourceAssignment">ResourceAssignment</a>
<br/>
<a href="/home/AddResourceSalaryDetails">AddResourceSalaryDetails</a>


